.container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #c59bdf;
  }
  
  h1 {
    text-align: center;
  }
  
  label {
    display: block;
    margin-top: 10px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: rgb(146, 172, 73);
    border: none;
  }
  
  button:hover {
    background-color: #92a045;
  }
  